.nav {
  max-width: 100%;
  padding: 3.2rem 0;
}

.nav__container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.nav__logo {
  max-width: 18.5rem;
  margin-right: auto;
}

.nav__container-meta {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav__container-meta button {
  background-color: transparent;
  border: none;
  transition: var(--transition-delay);
}

.github__logo,
.theme__logo {
  cursor: pointer;
  font-size: 2.8rem;
  color: var(--primary-color);
  transition: all 0.4s;
}

.github__logo:hover,
.theme__logo:hover {
  color: var(--primary-color);
  opacity: 0.8;
}

@media screen and (max-width: 82em) {
  .nav__container {
    max-width: 90%;
  }
}
