.category:link,
.category:visited {
  cursor: pointer;
  font-size: 2.2rem;
  padding: 1.6rem 0;
  border-radius: 10rem;
  border: none;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: var(--font-color__dark);
}

.category:hover,
.category:focus {
  transform: scale(1.05);
}

.category:active {
  transform: scale(0.95);
}
