.link__container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem 0 4rem 0;
}

.back__link:link,
.back__link:visited {
  display: inline-block;
  padding-bottom: 3.3px;
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
  transition: 0.3s all;
}

.back__link:active,
.back__link:hover {
  color: var(--primary-color);
  opacity: 0.7;
}

@media screen and (max-width: 62em) {
  .link__container {
    max-width: 70%;
  }
}

@media screen and (max-width: 50em) {
  .link__container {
    max-width: 90%;
  }
}

@media screen and (max-width: 37em) {
  .section__game-container {
    max-width: 100%;
    padding: 0 4rem;
  }
}
