.title__container {
  margin-bottom: 3.2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.title__container img {
  max-width: 5rem;
  height: auto;
}

.title {
  font-size: 2.8rem;
  font-weight: 700;
}
