.question__container {
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

.question__container-progress {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.choises__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.wrong {
  box-shadow: 0 0 0 1px inset #e11d48;
  color: #e11d48;
}

.correct {
  box-shadow: 0 0 0 1px inset #0d9488;
  color: #0d9488;
}

@media screen and (max-width: 37em) {
  .question__container {
    grid-row: 2/3;
    gap: 7.5rem;
  }
}
